.page-container {
    display : flex;
}

.main-container {
    display : flex;
}

.header-container {
    display : flex;
}

.body-container {
    display: flex;
}

.personal-photo-container {
}

.personal-summary-container {
}


