body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #e4e4e4;
}

body>div {
    min-width: 800px;
    width: 60vw;
}
.main-container {
    display : flex;
    background-color: white;
}

.header-container {
    display : flex;
    background-color: red;
}

.body-container {
    display: flex;
    background-color: blue;
}

.personal-photo-container {
    display: flex;
    flex-direction: column;
    background-color: green;
    justify-content: center;
    width : 300px;
    height: 300px
}

.personal-photo-container>img {
    height: 200px;
    width: 200px;
    background-color: white;
}

.personal-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

#brief-about-me {
}

#my_email {
}

#my-social-media {
}


